@charset "UTF-8";

div.loginbar {
	background-color: #c44a0e3d;
	border: 2px solid rgba(227, 83, 12, 0.93);
	height: 30px;
	text-align: right;
	display: block;
}
.inliner{
	display: inline;
}
.gentable{
	border: 1px solid rgba(0, 0, 0, 0.97);
}
.scrollbutton {
	width:30px;
	height:25px;
}
.inlinelist {
	padding: 0px;
	margin: 0px
}
.listindex {
	text-align: center;
}